<!DOCTYPE html>
<html>
<head>
    <title>ShieldX Drive</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="drive-page">


<!-- Top Bar -->
<header class="topbar">
    {% include '_logo.html' %}
    <nav>
        <span class="top-welcome">Welcome, {{ current_user.username }}</span>
        {% if current_user.username == 'admin' %}
            <a href="/dashboard">Security</a>
        {% endif %}
        <a href="/logout">Logout</a>
    </nav>
</header>

<div class="app">

    <!-- Sidebar -->
    <aside class="sidebar">
        <button class="new-btn">＋ New</button>

        <ul>
            <li class="{{ 'active' if request.path == '/drive' else '' }}">
                <a href="/drive">📁 My Drive</a>
            </li>
            <li class="{{ 'active' if request.path == '/recent' else '' }}">
                <a href="/recent">🕒 Recent</a>
            </li>
            {% if current_user.username == 'admin' %}
            <li class="{{ 'active' if request.path == '/dashboard' else '' }}">
                <a href="/dashboard">🛡️ Security</a>
            </li>
            {% endif %}
            <li class="{{ 'active' if request.path == '/trash' else '' }}">
                <a href="/trash">🗑️ Trash</a>
            </li>
        </ul>
    </aside>

    <!-- Main -->
    <main class="main simple-drive">

    <!-- Header -->
    <div class="drive-header">

        <h1>ShieldX Cloud Drive</h1>

        <p>Upload and manage your files easily</p>

    </div>


    <!-- Stats -->
    <div class="simple-stats">

        <div class="stat-card simple-stat">
            <h3>Total Files</h3>
            <p>{{ files|length }}</p>
            <span>Uploaded Files</span>
        </div>

    </div>


    <!-- Upload Area -->
    <div class="upload-container">

        <form method="post"
      action="/drive"
      enctype="multipart/form-data"
      id="uploadForm">

    <input type="file"
           name="file"
           id="fileInput"
           hidden
           required>

    <label for="fileInput" class="drop-zone">

        <div class="folder-icon">📁</div>

        <h3>Drag & Drop Files Here</h3>

        <p>or Click to Browse</p>

    </label>

    <button type="submit" class="normal-upload-btn">
        Upload
    </button>

</form>

    </div>

</main>


</div>
<script>
const dropZone = document.querySelector(".drop-zone");
const fileInput = document.getElementById("fileInput");

dropZone.addEventListener("dragover", e => {
    e.preventDefault();
    dropZone.classList.add("active");
});

dropZone.addEventListener("dragleave", () => {
    dropZone.classList.remove("active");
});

dropZone.addEventListener("drop", e => {
    e.preventDefault();
    dropZone.classList.remove("active");

    fileInput.files = e.dataTransfer.files;
});
</script>

</body>
</html>
